/* Стили для body and внешнего контейнера */

body {
  width: 100%;
  margin: 0;
  background-image: url(/templates/images/50.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  line-height: 1.5em;
}

#container {
  width: 75%;
  background: #000;
  margin: 20px auto;
  padding: 20px;
  border: solid 1px #ccc;
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}


/* Логотип и нижний колонтитул */

#logo {
  display: block;
  width: 200px;
  padding: 0 660px 20px 0;
  border: none;
  border-bottom: 1px solid #00a0b0;
  margin-bottom: 40px;
}

#footer {
  border-top: 1px solid #00a0b0;
  margin-top: 40px;
  padding: 20px 0 0 0;
  font-size: .8em;
  color: #fff;
}

#footer a, a:hover, a:visited{
  color: #fff;
}


/* Заголвки */

h1 {
  color: #eb6841;
  margin-bottom: 30px;
  line-height: 1.2em;
}

h2, h2 a {
  color: #edc951;
}

h2 a {
  text-decoration: none;
}

#listArticles {
  opacity: : 1.0;
  color: #000;
}
/* Заголовки статей */

#headlines {
  list-style: none;
  padding-left: 0;
  width: 75%;
  color: #fff;
}

#headlines li {
  margin-bottom: 2em;
  color: #fff;
}

.pubDate {
  font-size: .8em;
  color: #eb6841;
  text-transform: uppercase;
}

#headlines .pubDate {
  display: inline-block;
  width: 100px;
  font-size: .5em;
  vertical-align: middle;
}

#headlines.archive .pubDate {
  width: 130px;
  color: #fff;
}

.summary {
  color: #fff;
  padding-left: 100px;
}

#headlines.archive .summary {
  padding-left: 130px;
  color: #fff;
}


/* Заголовок для страницы администратора */

#adminHeader {
  width: 940px;
  padding: 0 10px;
  border-bottom: 1px solid #00a0b0;
  margin: -30px 0 40px 0;
  font-size: 0.8em;
}


.adminHeader p {
  color: #fff;
}
/* Стили для формы с цветным фоном, скругленными углами и тенью */

form {
  margin: 20px auto;
  padding: 40px 20px;
  overflow: auto;
  background: #fff4cf;
  border: 1px solid #666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;  
  border-radius: 5px;
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}


/* Задаем для элементов формы согласованные поля, отступы, и высоту строки */

form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form ul li {
  margin: .9em 0 0 0;
  padding: 0;
}

form * {
  line-height: 1em;
}


/* Метки полей */

label {
  display: block;
  float: left;
  clear: left;
  text-align: right;
  width: 15%;
  padding: .4em 0 0 0;
  margin: .15em .5em 0 0;
}


/* Поля */
input[type="checkbox"]{
  margin: 0;
}

input, select, textarea {
  display: block;
  margin: 0;
  padding: .4em;
  width: 80%;
}

input, textarea, .date {
  border: 2px solid #666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;    
  border-radius: 5px;
  background: #fff;
}

input {
  font-size: .9em;
}

select {
  padding: 0;
  margin-bottom: 2.5em;
  position: relative;
  top: .7em;
}

textarea {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: .9em;
  height: 5em;
  line-height: 1.5em;
}

textarea#content {
  font-family: "Courier New", courier, fixed;
}
  

/* Рамка вокруг поля с фокусом ввода */

form *:focus {
  border: 2px solid #7c412b;
  outline: none;
}


/* Правильно заполненное поле имеет зеленый фон */

input:valid, textarea:valid {
  background: #efe;
}


/* Кнопки отправки */

.buttons {
  text-align: center;
  margin: 10px 0 10px 0;
}

.navbuttons {
  width: 86%;
  text-align: right;
  margin: 10px 100px 0 0;
  position: fixed;
}

.navbuttons input[type="submit"] {
  display: inline;
  margin: 0 0px;
  width: 6em;
  padding: 5px;
  border: 2px solid #696969;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;  
  border-radius: 5px;
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  color: #ccc;
  background: -moz-linear-gradient(to top, #696969 , #00008B, #B0C4DE);
  background: -o-linear-gradient(to top, #696969 , #00008B, #B0C4DE);
  background: -webkit-linear-gradient(to top, #696969 , #00008B, #B0C4DE);
  background: linear-gradient(to top, #696969 , #00008B, #B0C4DE);
  font-weight: bold;
  font-size:14px;
  -webkit-appearance: none;
}

.buttons input[type="submit"] {
  display: inline;
  margin: 0 0px;
  width: 8em;
  padding: 5px;
  border: 2px solid #696969;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;  
  border-radius: 5px;
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  color: #ccc;
  background: -moz-linear-gradient(to top, #696969 , #00008B, #B0C4DE);
  background: -o-linear-gradient(to top, #696969 , #00008B, #B0C4DE);
  background: -webkit-linear-gradient(to top, #696969 , #00008B, #B0C4DE);
  background: linear-gradient(to top, #696969 , #00008B, #B0C4DE);
  font-weight: bold;
  -webkit-appearance: none;
}

.buttons input[type="submit"]:hover, input[type="submit"]:active {
  cursor: pointer;
  background: -moz-linear-gradient(to top, #696969 , #191970, #B0C4DE);
  background: -o-linear-gradient(to top, #696969 , #191970, #B0C4DE);
  background: -webkit-linear-gradient(to top, #696969 , #191970, #B0C4DE);
  background: linear-gradient(to top, #696969 , #191970, #B0C4DE);
  color: #808080;
}

.navbuttons input[type="submit"]:hover, input[type="submit"]:active {
  cursor: pointer;
  background: -moz-linear-gradient(to top, #696969 , #191970, #B0C4DE);
  background: -o-linear-gradient(to top, #696969 , #191970, #B0C4DE);
  background: -webkit-linear-gradient(to top, #696969 , #191970, #B0C4DE);
  background: linear-gradient(to top, #696969 , #191970, #B0C4DE);
  color: #808080;
}

input[type="submit"]:active {
  background: #eee;
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
}


/* Таблицы */

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

tr, th, td {
  padding: 10px;
  margin: 0;
  text-align: left;
  vertical-align: top;
}

table, th {
  border: 1px solid #00a0b0;
}

th {
  border-left: none;
  border-right: none;
  background: #696969;
  color: #fff;
  cursor: default;
}

tr:nth-child(odd) {
  background: #ddd;
}

tr:nth-child(even) {
  background: #fff;
}

tr:hover {
  background: rgb(210,210,210);
  cursor: pointer;
}


/* Окна для вывода статуса и сообщений об ошибках */

.statusMessage, .errorMessage {
  font-size: .8em;
  padding: .5em;
  margin: 2em 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

.statusMessage {
  background-color: #fff;
  border: 1px solid #080;
  color: #000;
}

.errorMessage {
  background-color: #fff;
  border: 1px solid #800;
  color: red;
}